@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #001220;
    color: #fff;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.desktop-appear {
    animation: titleAppear 1s;
}

.mobile-appear {
    animation: simpleAppear 1s;
}