.profile-intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.profile-intro img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    animation: titleAppear 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-intro h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 55px;
    animation: titleAppear 1s;
}

.profile-intro p {
    animation: titleAppear 1s;
}

.profile-intro a {
    animation: titleAppear 1s;
    color: #fff;
    font-weight: bold;
    transition: linear 0.1s;
}

.profile-intro a:hover {
    scale: 1.1;
    color: #1ED760;
}

.profile-intro button {
    animation: titleAppear 1s;
    border: none;
    background-color: transparent;
    color: #fff;
    transition: linear 0.1s;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.profile-intro button:hover {
    color: rgb(204, 34, 34);
    scale: 1.1;
}

.current-track {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex-direction: column;
    margin-top: 50px;
    animation: simpleAppear 1s;
    transition: linear 0.1s;
}

.current-track img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: linear 0.1s;
}

.current-track img:hover {
    scale: 1.1;
}

.wave-stats {
    position: relative;
    display: flex;
    margin-top: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.wave-stats-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
}

.genre-wave {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 300/100;
    background-size: cover;
    width: 50%;
    -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
}

.wave-rock {
    background-image: url(../../Assets/Svg/rock-waves.svg);
}

.wave-pop {
    background-image: url(../../Assets/Svg/pop-waves.svg);
}

.wave-blues {
    background-image: url(../../Assets/Svg/blues-waves.svg);
}

.wave-bossa-nova {
    background-image: url(../../Assets/Svg/bossa-nova-waves.svg);
}

.wave-emo {
    background-image: url(../../Assets/Svg/emo-waves.svg);
}

.wave-jazz {
    background-image: url(../../Assets/Svg/jazz-waves.svg);
}

.wave-alternative {
    background-image: url(../../Assets/Svg/alternative-waves.svg);
}

.wave-country {
    background-image: url(../../Assets/Svg/country-waves.svg);
}

.wave-classical {
    background-image: url(../../Assets/Svg/classical-waves.svg);
}

.wave-rap {
    background-image: url(../../Assets/Svg/rap-waves.svg);
}

.wave-generic {
    background-image: url(../../Assets/Svg/generic-waves.svg);
}

.wave-definition {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

.genre-indices {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 300px;
    text-align: center;
    flex-direction: column;
}

.genre-indices-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
}

.favorite-items {
    margin-top: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.display-items {
    display: grid;
    margin-top: 20px;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    padding: 15px;
}

.top-artist-big-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: linear 0.1s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.top-artist-big-image:hover {
    scale: 1.1;
}

.top-track-big-image {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transition: linear 0.1s;
}

.top-track-big-image:hover {
    scale: 1.1;
}

.hidden {
    opacity: 0;
    transition: all 2s;
}

.shown {
    opacity: 1;
}

@media (max-width: 768px) {
    .profile-intro h1 {
        font-size: 40px;
    }
    .genre-wave {
        width: 90%;
    }
    .wave-definition {
        font-size: 25px;
    }
    .genre-indices-title {
        font-size: 24px;
    }
    .top-artist-big-image {
        width: 120px;
        height: 120px;
    }
    .top-track-big-image {
        width: 120px;
        height: 120px;
    }
}