.profile-intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.profile-intro img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    animation: titleAppear 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-intro h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 55px;
    animation: titleAppear 1s;
}

.profile-intro p {
    animation: titleAppear 1s;
}

.profile-intro a {
    animation: titleAppear 1s;
    color: #fff;
    font-weight: bold;
    transition: linear 0.1s;
}

.profile-intro a:hover {
    scale: 1.1;
    color: #1ED760;
}

.wave-stats {
    position: relative;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.wave-stats-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
    animation: titleAppear 1s;
}

.genre-wave {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 300/100;
    background-size: cover;
    width: 50%;
    -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
    animation: waveAppear 1s;
}

.wave-rock {
    background-image: url(../../Assets/Svg/rock-waves.svg);
}

.wave-pop {
    background-image: url(../../Assets/Svg/pop-waves.svg);
}

.wave-blues {
    background-image: url(../../Assets/Svg/blues-waves.svg);
}

.wave-bossanova {
    background-image: url(../../Assets/Svg/bossanova-waves.svg);
}

.wave-emo {
    background-image: url(../../Assets/Svg/emo-waves.svg);
}

.wave-jazz {
    background-image: url(../../Assets/Svg/jazz-waves.svg);
}

.wave-alternative {
    background-image: url(../../Assets/Svg/alternative-waves.svg);
}

.wave-country {
    background-image: url(../../Assets/Svg/country-waves.svg);
}

.wave-classical {
    background-image: url(../../Assets/Svg/classical-waves.svg);
}

.wave-generic {
    background-image: url(../../Assets/Svg/generic-waves.svg);
}

.wave-definition {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}

@keyframes waveAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .genre-wave {
        width: 80%;
    }
    .wave-definition {
        font-size: 25px;
    }
}